<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Migraciones.Properties.Settings.BMS_MIGRACIONESConnectionString"
            connectionString="Data Source=DESKTOP-4CSQT06;Initial Catalog=BMS_MIGRACIONES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>